@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="hello_world" class="display-4 green-text" onmouseover="newColor()" onmouseout="oldColor()">Hello, World.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="video-container">
    <iframe id="video" src="https://www.youtube.com/embed/sbTVZMJ9Z2I?si=snz9sETQVkL-9iYG" frameborder="0" allowfullscreen></iframe>
</div>


<button id="animate-button">Wee!</button>
